.MainEm{
    height: 55vh;
    display: flex;
    justify-content: center!important;
    align-items: center!important;
    align-content: center!important;
    place-items: center!important;
}

.MainSosCall{
    width: 140px;
    height: 140px;
    font-size: 30px;
    color: white;
    background-color: red;
    border-radius: 50%;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-sos{
    margin-top:10px;
}

.p-sos-contatti{
    font-weight: bold;
    text-align: left;
    line-height: 30px;
    font-size:15px;
}

.div-sos-contatti{
    display: flex;
    justify-content: center;
}

/*  */

@keyframes pulse {
    0% {
      transform: scale(0.8);
      box-shadow: 0 0 0 0 red;
    }
    50% {
      transform: scale(1);
      box-shadow: 0 0 0 20px rgba(0, 128, 0, 0);
    }
    100% {
      transform: scale(0.8);
      box-shadow: 0 0 0 0 rgba(0, 128, 0, 0);
    }
  }
  
  
.pulse {
    animation: pulse 1.5s infinite;
  }