.MainFooter{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5%;
    width: 100%;
}

.FooterIcon{
    background-color: #319547;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 85%;
    height:60px;
}

.SezioneImpostata{
    /* position: absolute; */
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 2px solid black;
    padding: 15px;
    color: black;
    margin-top: -60px;
}

.pointer:hover{
    cursor: pointer;
}