.MainHome{
    height: 82.5vh;
    display: flex;
    justify-content: center!important;
    align-items: center!important;
    align-content: center!important;
    place-items: center;
}

.MainSos{
    font-size: 40px;
    font-weight: bold;
    color: white;
    background-color: red;
    border-radius: 100%;
    padding: 40px;
    line-height: 35px;
}

.BorderSos{
    border: 2px solid red;
    border-radius: 100%;
    padding: 20px;
}

/* Animazione QR Press */

.pulse {
    animation: pulse 1.5s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  