.MainHome{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainSos{
    font-size: 48px;
    font-weight: bold;
    color: white;
    background-color: #D03030;
    border-radius: 100%;
    padding: 25px;
    line-height: 45px;
}

.MainSos:hover{
    cursor: pointer;
}

.BorderSos{
    border: 2px solid #000000;
    border-radius: 100%;
    padding: 20px;
}