.div-loader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:100vh;
    background-color: white;
}

.logo-loader{
    width:150px;
}

.p-1{
    font-size: 35px;
    color: black;
    margin-top: 10px;
    font-weight: bold;
}

.p-2{
    font-size: 35px;
    color:#319547;
    margin-top: -30px;
    font-weight: bold;
}

.p-3{
    font-size: 20px;
    color:rgba(109, 109, 109, 0.627);
    font-weight: lighter;
    margin-top: -12px;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
  }
  

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  