.pointer:hover{
    cursor: pointer;
}

.MainNavbar {
    position: fixed;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 95%;
    height: 60px;
    z-index: 10;
    margin: 0;
    background-color: #FFFFFF;
    border-radius: 100px;
    padding: 0px 20px;
    box-sizing: border-box;
}

.mainWord {
    color: #319547;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}