.MainPercorso{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.destra{
   transform: rotate(-90); 
}

.indietro{
    transform: rotate(180); 
}

.sinistra{
    transform: rotate(90); 
}