.MainPercorso{
  height: 85vh;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.percorso{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  
}

.btn-repeat{
  width: 100px;
  height: 100px;
  font-size: 20px;
  color: white;
  background-color: #77cf26;
  border-radius: 50%;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.menuBtn{
display: flex;
justify-content: center;
align-items: center;
gap: 20px
}

.btn-repeat:hover{
  cursor: pointer;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.8);
    box-shadow: 0 0 0 0 #77cf26;
  }
  50% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(0, 128, 0, 0);
  }
  100% {
    transform: scale(0.8);
    box-shadow: 0 0 0 0 rgba(0, 128, 0, 0);
  }
}

.pulse-green {
animation: pulse-green 1.5s infinite;
}

.avanti{
  animation: muovitiAvanti 0.8s linear infinite alternate;
}

.destra{
 animation: muovitiDestra 0.8s linear infinite alternate;
}

.indietro{
  animation: muovitiIndietro 0.8s linear infinite alternate;
}

.sinistra{
  animation: muovitiSinistra 0.8s linear infinite alternate;
}

@keyframes muovitiAvanti {
  0% {
    transform: translateY(0) rotate(0deg)
  }
  100% {
    transform: translateY(-50px) rotate(0deg)
  }
}

@keyframes muovitiIndietro {
  0% {
    transform: translateY(0) rotate(180deg)
  }
  100% {
    transform: translateY(50px) rotate(180deg)
  }
}

@keyframes muovitiDestra {
  0% {
    transform: translateX(0) rotate(90deg)
  }
  100% {
    transform: translateX(50px) rotate(90deg)
  }
}

@keyframes muovitiSinistra {
  0% {
    transform: translateX(0) rotate(-90deg)
  }
  100% {
    transform: translateX(-50px) rotate(-90deg)
  }
}