.MainQrCode{
    z-index: 1;
}

.styleNoQr{
    height: 58vh;
    display: flex;
    flex-direction: column;
    justify-content: center!important;
    align-items: center!important;
    align-content: center!important;
    gap: 0px;
    text-align: center;
}

.black-title-qr{
    color: black;
    font-size: 18;
}

.imgNoQr{
    height: 300px;
    width: 330px;
}